@model IEnumerable<JsonSort.Models.CustomerJoinSort>

<div class="row">

    <div class="col-sm-2">
        <label>First Name</label>
    </div>
    <div class="col-sm-2">
        <label>Middle Name</label>
    </div>
    <div class="col-sm-2">
        <label>Last Name</label>
    </div>
    <div class="col-sm-2">
        <label>Last Name Sort Val</label>
    </div>
    <div class="col-sm-2">
        <label>First Name Sort Val</label>
    </div>
    <div class="col-sm-2">
        <label>Middle Name Sort Val</label>
    </div>
    

    @foreach (var cust in Model)
    {
        <div class="col-sm-2" style="background-color:#e6e6e6">
            <label>@cust.first_name</label>
        </div>
        <div class="col-sm-2">
            <label>@cust.middle_name</label>
        </div>
        <div class="col-sm-2" style="background-color:#e6e6e6">
            <label>@cust.last_name</label>
        </div>
        <div class="col-sm-2">
            <label>@cust.sortOrderLast</label>
        </div>
        <div class="col-sm-2" style="background-color:#e6e6e6">
            <label>@cust.sortOrderFirst</label>
        </div>
        <div class="col-sm-2">
            <label>@cust.sortOrderMiddle</label>
        </div>
    }
</div>